html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 99;
  padding: 32px 0;
  transition: all linear 0.25s;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header.background {
  background-color: #418c40;
}
.header__title {
  cursor: pointer;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
}
.header__title:hover {
  color: white;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  margin: 0 8px;
}
.header__link a {
  padding: 12px 24px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s linear;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__link a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.banner {
  padding-top: 120px;
  height: 500px;
  position: relative;
  text-align: center;
}
.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.banner__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 48px auto;
  cursor: pointer;
  transition: all linear 0.2s;
  position: relative;
}
.banner__image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
}
.banner__image:hover {
  transform: scale(1.1);
}
.banner__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  background-color: #418c40;
  animation: fade 1s forwards infinite linear;
}
@keyframes fade {
  to {
    transform: scale(1.4);
    opacity: 0;
  }
}
.banner__name {
  font-size: 3.2rem;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.banner__job {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-bottom: 24px;
}
.banner__btn {
  border: none;
  box-shadow: none;
  background-color: #418c40;
  color: white;
  padding: 14px 24px;
  border-radius: 8px;
  transition: all linear 0.25s;
}
.banner__btn:hover {
  background-color: #4da24a;
}
.banner-social {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-social__item {
  background-color: #888888;
  border-radius: 50%;
  margin: 0 8px;
  transition: all 0.25s linear;
}
.banner-social__item a {
  display: block;
  padding: 18px;
}
.banner-social__item:hover {
  background-color: #5c5c5c;
}
.banner-social__icon {
  font-size: 2.4rem;
  color: white;
}

.about {
  display: flex;
  padding: 32px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}
.about-section {
  margin-top: 80px;
}
.about-left {
  width: 50%;
  padding-right: 48px;
}
.about-left__desc {
  line-height: 1.4;
  color: #5c5c5c;
}
.about-right {
  width: 50%;
  padding-left: 48px;
}
.about-right table {
  width: 100%;
}
.about-right table tr:not(:last-child) {
  height: 30px;
}
.about-right table th {
  font-weight: bold;
  text-transform: uppercase;
  width: 34%;
}
.about__title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.skills {
  padding: 32px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  grid-column-gap: 72px;
}
.skills-section {
  margin-top: 80px;
}
.skills__title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.skills__item {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #4da24a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__item i {
  color: red;
  font-size: 2.4rem;
}

.projects {
  padding: 32px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}
.projects-section {
  margin-top: 80px;
}
.projects__title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.projects__item {
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.projects__item a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__item:hover .projects__name,
.projects__item:hover .projects__language {
  opacity: 1;
  visibility: visible;
}
.projects__item:hover .projects__overlay {
  transform: translate(0, 0);
}
.projects__name, .projects__language {
  color: white;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
}
.projects__name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 24px;
}
.projects__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-100%, -100%);
  transition: all linear 0.15s;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.education-section {
  margin-top: 80px;
}
.education__title {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.education__item {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}
.education__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 60px 0;
  background-color: #4da24a;
}
.education__years {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 16px;
}
.education__degree {
  font-size: 2rem;
  color: white;
  font-weight: 500;
}
.education__right {
  padding: 32px;
}
.education__heading {
  font-size: 2rem;
  margin-bottom: 12px;
}
.education__university {
  font-weight: bold;
  color: #9a9a9a;
  margin-bottom: 24px;
}

.contact {
  text-align: center;
}
.contact-section {
  margin: 80px 0;
}
.contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
.contact-social__item {
  margin: 0 16px;
}
.contact-social__icon {
  color: #5c5c5c;
  font-size: 3.2rem;
  transition: all linear 0.2s;
}
.contact-social__icon:hover {
  color: #4da24a;
}
.contact__name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.contact__copyright {
  font-size: 1.8rem;
  color: #888888;
}
.contact__copyright i {
  margin-right: 12px;
}

/*# sourceMappingURL=style.css.map */
